<!DOCTYPE html>
<html lang="en" style="" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"><head>
    <meta charset="utf-8">
    <title>fidelity transact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="nxSndj9iekX8sFntaol9EuWHYk6ChQsfS98k8pFD">

    <!-- App favicon -->
    <link rel="shortcut icon" href="https://benefitprosavings.org/public/backend/images/favicon.png">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- DataTables -->
    <link href="/backend/plugins/datatable/datatables.min.css" rel="stylesheet" type="text/css">

    <link href="/backend/plugins/dropify/css/dropify.min.css" rel="stylesheet">
    <link href="/backend/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <link href="/backend/plugins/animate/animate.css" rel="stylesheet" type="text/css">
    <link href="/backend/plugins/select2/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/backend/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="/backend/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet">

    	<!-- REMIX ICON -->
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
		 <!--  -->
    <!-- App Css -->
    <link rel="stylesheet" href="/backend/assets/fonts/icofont/icofont.min.css">
    <link rel="stylesheet" href="/backend/assets/css/styles.css">

   
<script charset="utf-8" src="https://embed.tawk.to/_s/v4/app/66d916256f5/js/twk-chunk-bf24a88e.js"></script><script charset="utf-8" src="https://embed.tawk.to/_s/v4/app/66d916256f5/js/twk-chunk-71978bb6.js"></script><script charset="utf-8" src="https://embed.tawk.to/_s/v4/app/66d916256f5/js/twk-chunk-f1565420.js"></script><script charset="utf-8" src="https://embed.tawk.to/_s/v4/app/66d916256f5/js/twk-chunk-7c2f6ba4.js"></script><script charset="utf-8" src="https://embed.tawk.to/_s/v4/app/66d916256f5/js/twk-chunk-48f3b594.js"></script><script charset="utf-8" src="https://embed.tawk.to/_s/v4/app/66d916256f5/js/twk-chunk-4fe9d5dd.js"></script><script charset="utf-8" src="https://embed.tawk.to/_s/v4/app/66d916256f5/js/twk-chunk-2d0b9454.js"></script><script charset="utf-8" src="https://embed.tawk.to/_s/v4/app/66d916256f5/js/twk-chunk-24d8db78.js"></script><style type="text/css">#qminul8u8gng1728383762738 {outline:none !important;
visibility:visible !important;
resize:none !important;
box-shadow:none !important;
overflow:visible !important;
background:none !important;
opacity:1 !important;
filter:alpha(opacity=100) !important;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity 1}) !important;
-mz-opacity:1 !important;
-khtml-opacity:1 !important;
top:auto !important;
right:0px !important;
bottom:0px !important;
left:auto !important;
position:fixed !important;
border:0 !important;
min-height:0px  !important;
min-width:0px  !important;
max-height:none  !important;
max-width:none  !important;
padding:0px !important;
margin:0px !important;
-moz-transition-property:none !important;
-webkit-transition-property:none !important;
-o-transition-property:none !important;
transition-property:none !important;
transform:none !important;
-webkit-transform:none !important;
-ms-transform:none !important;
width:auto !important;
height:auto  !important;
display:none !important;
z-index:2000000000 !important;
background-color:transparent !important;
cursor:none !important;
float:none !important;
border-radius:unset !important;
pointer-events:auto !important;
clip:auto !important;
color-scheme:light !important;}#qminul8u8gng1728383762738.widget-hidden {display: none !important;}#qminul8u8gng1728383762738.widget-visible {display: block !important;}
@media print{
#qminul8u8gng1728383762738.widget-visible { 
display: none !important;
}
}</style><script src="https://cdn.jsdelivr.net/emojione/2.2.7/lib/js/emojione.min.js" type="text/javascript" async="" defer=""></script><script src="https://cdn.jsdelivr.net/emojione/2.2.7/lib/js/emojione.min.js" type="text/javascript" async="" defer=""></script><style type="text/css">@keyframes tawkMaxOpen{0%{opacity:0;transform:translate(0, 30px);;}to{opacity:1;transform:translate(0, 0px);}}@-moz-keyframes tawkMaxOpen{0%{opacity:0;transform:translate(0, 30px);;}to{opacity:1;transform:translate(0, 0px);}}@-webkit-keyframes tawkMaxOpen{0%{opacity:0;transform:translate(0, 30px);;}to{opacity:1;transform:translate(0, 0px);}}#zmqkf3jnuv71728383762821.open{animation : tawkMaxOpen .25s ease!important;}@keyframes tawkMaxClose{from{opacity: 1;transform:translate(0, 0px);;}to{opacity: 0;transform:translate(0, 30px);;}}@-moz-keyframes tawkMaxClose{from{opacity: 1;transform:translate(0, 0px);;}to{opacity: 0;transform:translate(0, 30px);;}}@-webkit-keyframes tawkMaxClose{from{opacity: 1;transform:translate(0, 0px);;}to{opacity: 0;transform:translate(0, 30px);;}}#zmqkf3jnuv71728383762821.closed{animation: tawkMaxClose .25s ease!important}</style></head>

<body class="sb-nav-fixed  modal-open pace-done" style="padding-right: 17px;"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
<div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
    <!-- Main Modal -->
    <div id="main_modal" class="modal show" tabindex="-1" aria-modal="true" role="dialog" style="overflow-y: auto; display: block; padding-right: 17px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0 ml-2">Deposit Via Paymaya</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                </div>

                <% if(infoSubmitObj != '') { %>
                    <div class="col-8 alert alert-success" role="alert">
                      <%= infoSubmitObj %>
                    </div>
                  <% } %>
                
                  <% if(infoErrorsObj != '') { %>
                    <div class="col-8 alert alert-danger" role="alert">
                      <%= infoErrorsObj[0].message %>
                    </div>
                  <% } %>

                <div class="alert alert-danger d-none mx-3 mt-3 mb-0"></div>
                <div class="alert alert-secondary d-none mx-3 mt-3 mb-0"></div>
                <div class="modal-body overflow-hidden">
                    <form method="post" class="ajax-screen-submit" autocomplete="off" action="/deposit/<%=user._id%>" enctype="multipart/form-data" novalidate="">
<!-- <input type="hidden" name="_token" value="nxSndj9iekX8sFntaol9EuWHYk6ChQsfS98k8pFD"> -->
<div class="row p-2">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Amount<span class="required"> *</span></label>
            <input type="number" class="form-control float-field" name="amount" id="amount" required="">
        </div>
    </div>

                            <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Transaction ID<span class="required"> *</span></label>
                <input type="text" class="form-control" name="tranId" id="tranId" required="">
            </div>
        </div>
                    <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">account number<span class="required"> *</span></label>
                <input type="number" class="form-control" name="accNo" id="accNo" required="">
            </div>
        </div>
                    <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Account name<span class="required"> *</span></label>
                <input type="text" class="form-control" name="accName" required="">
            </div>
        </div>
                
            <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Instructions</label>
            <div class="border rounded">Paymaya is a an online payment platform.</div>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" name="desc" id="desc"></textarea>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Attachment</label>
            <div class="dropify-wrapper"><div class="dropify-message"><span class="file-icon"> <p>Drag and drop a file here or click</p></span><p class="dropify-error">Ooops, something wrong appended.</p></div><div class="dropify-loader"></div><div class="dropify-errors-container"><ul></ul></div><i class="ri-upload-cloud-line"></i><input type="file" class="form-control dropify" name="image" id="image" accept="image/"><button type="button" class="dropify-clear">Remove</button><div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p><p class="dropify-infos-message">Drag and drop or click to replace</p></div></div></div></div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icofont-check-circled"></i> Submit</button>
        </div>
    </div>
</div>
</form>
</div>

            </div>
        </div>
    </div>

    <!-- Secondary Modal -->
    <div id="secondary_modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0 ml-2"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="alert alert-danger d-none mx-3 mt-3 mb-0"></div>
                <div class="alert alert-secondary d-none mx-3 mt-3 mb-0"></div>
                <div class="modal-body overflow-hidden"></div>
            </div>
        </div>
    </div>

    <!-- Preloader area start -->
    
    <!-- Preloader area end -->

    <!--Header Nav-->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-md-center" href="/dashboard">fidelity transact</a>
            <button class="btn btn-link btn-sm mr-auto" id="sidebarToggle" href="#">
                <div class="lines">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>

            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown animate-dropdown">
                    <a class="nav-link dropdown-toggle" id="languageSelector" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont-world"></i> English</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageSelector">
                                                        <a class="dropdown-item" href="#">English</a>
                                                </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown animate-dropdown">
                	<a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ri-user-line"></i></a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
							<a class="dropdown-item" href="/profile"><i class="ri-user-line"></i>Profile Overview</a>
							<a class="dropdown-item" href="/edit"><i class="ri-edit-line"></i> Profile Settings</a>
							<a class="dropdown-item" href="/change_password"><i class="ri-exchange-line"></i></i> Change Password</a>
														<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/logout"><i class="ri-logout-box-r-line"></i> Logout</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav><!--End Header Nav-->

    <div id="layoutSidenav" class="container-fluid d-flex align-items-stretch">
        <div id="layoutSidenav_nav">
            <span class="close-mobile-nav"><i class="icofont-close-line-squared-alt"></i></span>
            <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">

                <div class="sidebar-user">
                    <a href="javascript: void(0);">
                        <img src="/IMG_UPLOADS<%=user.image%>" alt="user-image" height="42" class="rounded-circle shadow-sm">
                        <span class="sidebar-user-name"><%=user.fullname%></span>
                    </a>
                </div>

                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">NAVIGATIONS</div>

<a class="nav-link" href="/dashboard">
<div class="sb-nav-link-icon"><i class="ri-dashboard-line"></i></div>
Dashboard
</a>

<a class="nav-link" href="/transfer">
<div class="sb-nav-link-icon"><i class="ri-arrow-up-circle-line"></i></div>
Send Money
</a>

<a class="nav-link" href="/exchange_money">
<div class="sb-nav-link-icon"><i class="ri-exchange-fill"></i></div>
Exchange Money
</a>

<a class="nav-link" href="/wire_transfer">
<div class="sb-nav-link-icon"><i class="ri-visa-line"></i></div>
Wire Transfer
</a>

<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#payment_request" aria-expanded="false" aria-controls="collapseLayouts">
<div class="sb-nav-link-icon"><i class="ri-bank-card-fill"></i></div>
Payment Request
<div class="sb-sidenav-collapse-arrow"><i class="ri-arrow-down-s-fill"></i></div>
</a>
<div class="collapse" id="payment_request" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
<nav class="sb-sidenav-menu-nested nav">
    <a class="nav-link" href="/payment_request">New Request</a>
    <a class="nav-link" href="/paymentHistory">All Requests</a>
</nav>
</div>

<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#deposit" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon"><i class="ri-add-circle-fill"></i></div>
Deposit Money
<div class="sb-sidenav-collapse-arrow"><i class="ri-arrow-down-s-fill"></i></div>
</a>
<div class="collapse show" id="deposit" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
<nav class="sb-sidenav-menu-nested nav">
    <a class="nav-link" href="/automatic_methods">Automatic Deposit</a>
    <a class="nav-link" href="/deposit">Manual Deposit</a>
    <a class="nav-link" href="/redeem_gift_card">Redeem Gift Card</a>
</nav>
</div>

<a class="nav-link" href="/withdraw">
<div class="sb-nav-link-icon"><i class="ri-subtract-fill"></i></div>
Withdraw Money
</a>

<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#loans" aria-expanded="false" aria-controls="collapseLayouts">
<div class="sb-nav-link-icon"><i class="ri-money-dollar-box-line"></i></div>
Loans
<div class="sb-sidenav-collapse-arrow"><i class="ri-arrow-down-s-fill"></i></div>
</a>
<div class="collapse" id="loans" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
<nav class="sb-sidenav-menu-nested nav">
    <a class="nav-link" href="/apply_loan">Apply New Loan</a>
    <a class="nav-link" href="/my_loans">My Loans</a>
    <a class="nav-link" href="/calculator">Loan Calculator</a>
</nav>
</div>

<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#fdr" aria-expanded="false" aria-controls="collapseLayouts">
<div class="sb-nav-link-icon"><i class="ri-wallet-3-fill"></i></div>
Fixed Deposit
<div class="sb-sidenav-collapse-arrow"><i class="ri-arrow-down-s-fill"></i></div>
</a>
<div class="collapse" id="fdr" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
<nav class="sb-sidenav-menu-nested nav">
    <a class="nav-link" href="/fixed_deposits">Apply New FRD</a>
    <a class="nav-link" href="/fixed_depositsHistory">FDR History</a>
</nav>
</div>

<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tickets" aria-expanded="false" aria-controls="collapseLayouts">
<div class="sb-nav-link-icon"><i class="ri-team-line"></i></div>
Support Tickets
<div class="sb-sidenav-collapse-arrow"><i class="ri-arrow-down-s-fill"></i></div>
</a>
<div class="collapse" id="tickets" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
<nav class="sb-sidenav-menu-nested nav">
    <a class="nav-link" href="/create_ticket">Create New Ticket</a>
    <a class="nav-link" href="/my_tickets"> Tickets status</a>
</nav>
</div>

<a class="nav-link" href="#">
<div class="sb-nav-link-icon"><i class="ri-bar-chart-grouped-line"></i></div>
Transactions Report
</a>
                    </div>
                </div>
            </nav>
        </div><!--End layoutSidenav_nav-->

        <div id="layoutSidenav_content">

            <main>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-success alert-dismissible" id="main_alert" role="alert">
                            <button type="button" id="close_alert" class="close">
                                <span aria-hidden="true"><i class="icofont-close-line-squared-alt"></i></span>
                            </button>
                            <span class="msg"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="header-title text-center">Manual Deposit Methods</h4>
        </div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://benefitprosavings.org/public/uploads/media/1716368745images.png" class="gateway-img">
                            <h5>Gcash</h5>
                            <h6 class="pt-1">Deposit Limit ($100.00 - $50,000.00)</h6>
                            <h6 class="pt-1">Deposit Charge ($0.50 + 0.50%)</h6>
                            <button data-href="https://benefitprosavings.org/deposit/manual_deposit/1" data-title="Deposit Via Gcash" class="btn btn-light mt-3 stretched-link ajax-modal">Deposit Now</button>
                        </div>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://benefitprosavings.org/public/uploads/media/1716368888images (2).jpeg" class="gateway-img">
                            <h5>Paymaya</h5>
                            <h6 class="pt-1">Deposit Limit ($100.00 - $50,000.00)</h6>
                            <h6 class="pt-1">Deposit Charge ($0.50 + 0.50%)</h6>
                            <button data-href="https://benefitprosavings.org/deposit/manual_deposit/2" data-title="Deposit Via Paymaya" class="btn btn-light mt-3 stretched-link ajax-modal">Deposit Now</button>
                        </div>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://benefitprosavings.org/public/uploads/media/1716369870download.png" class="gateway-img">
                            <h5>Metrobank</h5>
                            <h6 class="pt-1">Deposit Limit ($100.00 - $50,000.00)</h6>
                            <h6 class="pt-1">Deposit Charge ($0.50 + 0.50%)</h6>
                            <button data-href="https://benefitprosavings.org/deposit/manual_deposit/3" data-title="Deposit Via Metrobank" class="btn btn-light mt-3 stretched-link ajax-modal">Deposit Now</button>
                        </div>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://benefitprosavings.org/public/uploads/media/1716369947images (3).jpeg" class="gateway-img">
                            <h5>BDO</h5>
                            <h6 class="pt-1">Deposit Limit ($100.00 - $50,000.00)</h6>
                            <h6 class="pt-1">Deposit Charge ($0.50 + 0.50%)</h6>
                            <button data-href="https://benefitprosavings.org/deposit/manual_deposit/4" data-title="Deposit Via BDO" class="btn btn-light mt-3 stretched-link ajax-modal">Deposit Now</button>
                        </div>
                    </div>
                </div>
                            </div>
        </div>
    </div>
</div>
</div>
            </main>

        </div>	<!--End layoutSidenav_content-->
    </div> <!--End layoutSidenav-->

    <!-- Core Js  -->
    <script src="/backend/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/backend/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/backend/assets/js/print.js"></script>
    <script src="/backend/assets/js/pace.min.js"></script>
    <script src="/backend/assets/js/clipboard.min.js"></script>
    <script src="/backend/plugins/moment/moment.js"></script>

    <!-- Datatable js -->
    <script src="/backend/plugins/datatable/datatables.min.js"></script>

    <script src="/backend/plugins/dropify/js/dropify.min.js"></script>
    <script src="/backend/plugins/sweet-alert2/sweetalert2.min.js"></script>
    <script src="/backend/plugins/select2/select2.min.js"></script>
    <script src="/backend/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/backend/plugins/tinymce/tinymce.min.js"></script>
    <script src="/backend/plugins/parsleyjs/parsley.min.js"></script>
    <script src="/backend/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>

    <!-- App js -->
    <script src="/backend/assets/js/scripts.jsv=1.2.js"></script>

    <script type="text/javascript">
    (function($) {

        "use strict";

        //Show Success Message
        
        //Show Single Error Message
        
        
        
    })(jQuery);

 </script>

 

<script async="" charset="UTF-8" src="https://embed.tawk.to/_s/v4/app/66d916256f5/languages/en.js"></script><div id="qminul8u8gng1728383762738" class="widget-visible"><iframe src="about:blank" frameborder="0" scrolling="no" width="64px" height="60px" style="outline:none !important; visibility:visible !important; resize:none !important; box-shadow:none !important; overflow:visible !important; background:none !important; opacity:1 !important; filter:alpha(opacity=100) !important; -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity 1}) !important; -mz-opacity:1 !important; -khtml-opacity:1 !important; top:auto !important; right:20px !important; bottom:20px !important; left:auto !important; position:fixed !important; border:0 !important; min-height:60px !important; min-width:64px !important; max-height:60px !important; max-width:64px !important; padding:0 !important; margin:0 !important; -moz-transition-property:none !important; -webkit-transition-property:none !important; -o-transition-property:none !important; transition-property:none !important; transform:none !important; -webkit-transform:none !important; -ms-transform:none !important; width:64px !important; height:60px !important; display:block !important; z-index:1000001 !important; background-color:transparent !important; cursor:none !important; float:none !important; border-radius:unset !important; pointer-events:auto !important; clip:auto !important; color-scheme:light !important;" id="b3niif8pa5n81728383762766" class="" title="chat widget"></iframe><iframe src="about:blank" frameborder="0" scrolling="no" width="330px" height="520px" style="outline:none !important; visibility:visible !important; resize:none !important; box-shadow:none !important; overflow:visible !important; background:none !important; opacity:1 !important; filter:alpha(opacity=100) !important; -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity 1}) !important; -mz-opacity:1 !important; -khtml-opacity:1 !important; top:auto !important; right:10px !important; bottom:90px !important; left:auto !important; position:fixed !important; border:0 !important; min-height:520px !important; min-width:330px !important; max-height:520px !important; max-width:330px !important; padding:0 !important; margin:0 !important; -moz-transition-property:none !important; -webkit-transition-property:none !important; -o-transition-property:none !important; transition-property:none !important; transform:none !important; -webkit-transform:none !important; -ms-transform:none !important; width:330px !important; height:520px !important; display:none !important; z-index:1000002 !important; background-color:transparent !important; cursor:none !important; float:none !important; border-radius:5px !important; pointer-events:auto !important; clip:auto !important; color-scheme:light !important;" id="zmqkf3jnuv71728383762821" class="" title="chat widget"></iframe><iframe src="about:blank" frameborder="0" scrolling="no" width="360px" height="55px" style="outline:none !important; visibility:visible !important; resize:none !important; box-shadow:none !important; overflow:visible !important; background:none !important; opacity:1 !important; filter:alpha(opacity=100) !important; -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity 1}) !important; -mz-opacity:1 !important; -khtml-opacity:1 !important; top:auto !important; right:20px !important; bottom:100px; left:auto !important; position:fixed !important; border:0 !important; min-height:55px !important; min-width:360px !important; max-height:55px !important; max-width:360px !important; padding:0 !important; margin:0 !important; -moz-transition-property:none !important; -webkit-transition-property:none !important; -o-transition-property:none !important; transition-property:none !important; transform:none !important; -webkit-transform:none !important; -ms-transform:none !important; width:360px !important; height:55px !important; display:none !important; z-index:auto !important; background-color:transparent !important; cursor:none !important; float:none !important; border-radius:unset !important; pointer-events:auto !important; clip:auto !important; color-scheme:light !important;" id="v081cm89cbv1728383762806" class="" title="chat widget"></iframe><iframe src="about:blank" frameborder="0" scrolling="no" width="124px" height="95px" style="outline:none !important; visibility:visible !important; resize:none !important; box-shadow:none !important; overflow:visible !important; background:none !important; opacity:1 !important; filter:alpha(opacity=100) !important; -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity 1}) !important; -mz-opacity:1 !important; -khtml-opacity:1 !important; top:auto !important; right:0px !important; bottom:30px !important; left:auto !important; position:fixed !important; border:0 !important; min-height:95px !important; min-width:124px !important; max-height:95px !important; max-width:124px !important; padding:0 !important; margin:0px 0 0 0 !important; -moz-transition-property:none !important; -webkit-transition-property:none !important; -o-transition-property:none !important; transition-property:none !important; transform:rotate(0deg) translateZ(0); -webkit-transform:rotate(0deg) translateZ(0); -ms-transform:rotate(0deg) translateZ(0); width:124px !important; height:95px !important; display:block !important; z-index:1000002 !important; background-color:transparent !important; cursor:none !important; float:none !important; border-radius:unset !important; pointer-events:auto !important; clip:auto !important; color-scheme:light !important; -moz-transform:rotate(0deg) translateZ(0); -o-transform:rotate(0deg) translateZ(0); transform-origin:0; -moz-transform-origin:0; -webkit-transform-origin:0; -o-transform-origin:0; -ms-transform-origin:0;" id="s18h06137j3g1728383762791" class="" title="chat widget"></iframe></div><div class="modal-backdrop show"></div>
</body></html>