<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>fidelity transact</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="csrf-token" content="V9q3jGyyGVpknXobSHE0I4M3PbBfVWqwh8M1Hg5F">

		<!-- App favicon -->
        <link rel="shortcut icon" href="/backend/images/favicon.png">

		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		<!-- DataTables -->
		<link href="/backend/plugins/datatable/datatables.min.css" rel="stylesheet" type="text/css" />

		<link href="/backend/plugins/dropify/css/dropify.min.css" rel="stylesheet">
		<link href="/backend/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
        <link href="/backend/plugins/animate/animate.css" rel="stylesheet" type="text/css">
		<link href="/backend/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
		<link href="/backend/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
	    <link href="https://benefitprosavings.org/public/backend/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />

                <!-- REMIX ICON -->
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
		 <!--  -->
		<!-- App Css -->
		<link rel="stylesheet" href="/backend/assets/fonts/icofont/icofont.min.css">
		<link rel="stylesheet" href="/backend/assets/css/styles.css">

		<!-- Modernizr -->
		<script src="https://benefitprosavings.org/public/backend/assets/js/modernizr-2.8.3.min.js"></script>


		
		
    </head>

    <body class="sb-nav-fixed">
		<!-- Main Modal -->
		<div id="main_modal" class="modal" tabindex="-1" role="dialog">
		    <div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
				    <div class="modal-header">
						<h5 class="modal-title mt-0 ml-2"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
				    </div>

				    <div class="alert alert-danger d-none mx-3 mt-3 mb-0"></div>
				    <div class="alert alert-secondary d-none mx-3 mt-3 mb-0"></div>
				    <div class="modal-body overflow-hidden"></div>

				</div>
		    </div>
		</div>

		<!-- Secondary Modal -->
		<div id="secondary_modal" class="modal" tabindex="-1" role="dialog">
		    <div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
				    <div class="modal-header">
						<h5 class="modal-title mt-0 ml-2"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
				    </div>

				    <div class="alert alert-danger d-none mx-3 mt-3 mb-0"></div>
				    <div class="alert alert-secondary d-none mx-3 mt-3 mb-0"></div>
				    <div class="modal-body overflow-hidden"></div>
				</div>
		    </div>
		</div>

		<!-- Preloader area start -->
		<div id="preloader"></div>
		<!-- Preloader area end -->

		<!--Header Nav-->
		<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid">
				<a class="navbar-brand text-md-center" href="/dashboard">fidelity transact</a>
				<button class="btn btn-link btn-sm mr-auto" id="sidebarToggle" href="#">
					<div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
				</button>

				

				<ul class="navbar-nav ml-auto ml-md-0">
					<li class="nav-item dropdown animate-dropdown">
						<a class="nav-link dropdown-toggle" id="languageSelector" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont-world"></i> English</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageSelector">
															<a class="dropdown-item" href="#">English</a>
													</div>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto ml-md-0">
					<li class="nav-item dropdown animate-dropdown">
						<a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ri-user-line"></i></a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/profile/<%=user._id%>"><i class="ri-user-line"></i>Profile Overview</a>
							<a class="dropdown-item" href="/edit/<%=user._id%>"><i class="ri-edit-line"></i> Profile Settings</a>
							<a class="dropdown-item" href="/change_password/<%=user._id%>"><i class="ri-exchange-line"></i></i> Change Password</a>
														<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/logout"><i class="ri-logout-box-r-line"></i> Logout</a>
						</div>
					</li>
				</ul>

			</div>
        </nav><!--End Header Nav-->

		<div id="layoutSidenav" class="container-fluid d-flex align-items-stretch">
			<div id="layoutSidenav_nav">
				<span class="close-mobile-nav"><i class="icofont-close-line-squared-alt"></i></span>
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">

					<div class="sidebar-user">
                        <a href="javascript: void(0);">
                            <img src="/IMG_UPLOADS<%=user.image%>" alt="user-image" height="42" class="rounded-circle shadow-sm">
                            <span class="sidebar-user-name"><%=user.fullname%></span>
                        </a>
                    </div>

					<div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">NAVIGATIONS</div>

<a class="nav-link" href="/dashboard">
	<div class="sb-nav-link-icon"><i class="ri-dashboard-line"></i></div>
	Dashboard
</a>

<a class="nav-link" href="/transfer/<%=user._id%>">
	<div class="sb-nav-link-icon"><i class="ri-arrow-up-circle-line"></i></div>
	Send Money
</a>

<a class="nav-link" href="/exchange_money/<%=user._id%>">
	<div class="sb-nav-link-icon"><i class="ri-exchange-fill"></i></div>
	Exchange Money
</a>

<a class="nav-link" href="/wire_transfer/<%=user._id%>">
	<div class="sb-nav-link-icon"><i class="ri-visa-line"></i></div>
	Wire Transfer
</a>

<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#payment_request" aria-expanded="false" aria-controls="collapseLayouts">
	<div class="sb-nav-link-icon"><i class="ri-bank-card-fill"></i></div>
	Payment Request
	<div class="sb-sidenav-collapse-arrow"><i class="ri-arrow-down-s-fill"></i></i></div>
</a>
<div class="collapse" id="payment_request" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
	<nav class="sb-sidenav-menu-nested nav">
		<a class="nav-link" href="/payment_request/<%=user._id%>">New Request</a>
		<a class="nav-link" href="/paymentHistory/<%=user._id%>">All Requests</a>
	</nav>
</div>

<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#deposit" aria-expanded="false" aria-controls="collapseLayouts">
	<div class="sb-nav-link-icon"><i class="ri-add-circle-fill"></i></div>
	Deposit Money
	<div class="sb-sidenav-collapse-arrow"><i class="ri-arrow-down-s-fill"></i></div>
</a>
<div class="collapse" id="deposit" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
	<nav class="sb-sidenav-menu-nested nav">
		<a class="nav-link" href="/automatic_methods">Automatic Deposit</a>
		<a class="nav-link" href="/deposit">Manual Deposit</a>
		<a class="nav-link" href="/redeem_gift_card/<%=user._id%>">Redeem Gift Card</a>
	</nav>
</div>

<a class="nav-link" href="/withdraw/<%=user._id%>">
	<div class="sb-nav-link-icon"><i class="ri-subtract-fill"></i></div>
	Withdraw Money
</a>

<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#loans" aria-expanded="false" aria-controls="collapseLayouts">
	<div class="sb-nav-link-icon"><i class="ri-money-dollar-box-line"></i></div>
	Loans
	<div class="sb-sidenav-collapse-arrow"><i class="ri-arrow-down-s-fill"></i></div>
</a>
<div class="collapse" id="loans" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
	<nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="/apply_loan/<%=user._id%>">Apply New Loan</a>
		<a class="nav-link" href="/my_loans/<%=user._id%>">My Loans</a>
		<a class="nav-link" href="/calculator">Loan Calculator</a>
	</nav>
</div>

<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#fdr" aria-expanded="false" aria-controls="collapseLayouts">
	<div class="sb-nav-link-icon"><i class="ri-wallet-3-fill"></i></div>
	Fixed Deposit
	<div class="sb-sidenav-collapse-arrow"><i class="ri-arrow-down-s-fill"></i></div>
</a>
<div class="collapse" id="fdr" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
	<nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="/fixed_deposits/<%=user._id%>">Apply New FRD</a>
		<a class="nav-link" href="/fixed_depositsHistory/<%=user._id%>">FDR History</a>
	</nav>
</div>

<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tickets" aria-expanded="false" aria-controls="collapseLayouts">
	<div class="sb-nav-link-icon"><i class="ri-team-line"></i></div>
	Support Tickets
	<div class="sb-sidenav-collapse-arrow"><i class="ri-arrow-down-s-fill"></i></div>
</a>
<div class="collapse" id="tickets" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
	<nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" href="/create_ticket/<%=user._id%>">Create New Ticket</a>
		<a class="nav-link" href="/my_tickets/<%=user._id%>"> Tickets status</a>
	</nav>
</div>

<a class="nav-link" href="#">
	<div class="sb-nav-link-icon"><i class="ri-bar-chart-grouped-line"></i></div>
	Transactions Report
</a>
                        </div>
                    </div>
                </nav>
            </div><!--End layoutSidenav_nav-->

			<div id="layoutSidenav_content">

				<main>
					<div class="row">
						<div class="col-lg-12">
							<div class="alert alert-success alert-dismissible" id="main_alert" role="alert">
								<button type="button" id="close_alert" class="close">
									<span aria-hidden="true"><i class="icofont-close-line-squared-alt"></i></span>
								</button>
								<span class="msg"></span>
							</div>
						</div>
					</div>

					
<div class="row">
	<div class="col-lg-12">
		<div class="card no-export">
		    <div class="card-header d-flex align-items-center">
				<span class="panel-title">Payment Requests</span>
				<a class="btn btn-primary btn-sm ml-auto" href="/payment_request/<%=user._id%>"><i class="icofont-plus-circle"></i> Add New</a>
			</div>
			<div class="card-body">
				<%if(user.paymentMoneys != ''){%>
				<table id="payment_requests_table" class="table table-bordered">
					<thead>
					    <tr>
						    <th>Created</th>
						    <th>Currency</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Sender</th>
                            <th>Receiver</th>
                            <!-- <th class="text-center">Action</th> -->
					    </tr>
					</thead>
					<tbody>
						<% if(user.paymentMoneys.length > 0 ){ %>
							<%  user.paymentMoneys.forEach(pay => {  %>

												<tr>
							<td><%=pay.createdAt%></td>
							<td><%=pay.currency%></td>
							<td><%=pay.amount%></td>
							<td><span class='badge badge-success'><%=pay.status%></span></td>
							<td><%=pay.sender%></td>
							<td><%=pay.receiver%></td>
							<!-- <td>pay.desc%></td> -->
						
							
						</tr>
						<%  }) %>
						<%  } %>
					</tbody>
				</table>
				<% }else{%>
					<h3 class="text-center text-secondary mt-5">No Payment found!</h3>
					<% } %>
			</div>
		</div>
	</div>
</div>

				</main>

			</div>	<!--End layoutSidenav_content-->
		</div> <!--End layoutSidenav-->

		<!-- Core Js  -->
		<script src="/backend/assets/js/jquery-3.6.0.min.js"></script>
        <script src="/backend/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

		<script src="/backend/assets/js/print.js"></script>
		<script src="/backend/assets/js/pace.min.js"></script>
		<script src="/backend/assets/js/clipboard.min.js"></script>
        <script src="/backend/plugins/moment/moment.js"></script>

		<!-- Datatable js -->
        <script src="/backend/plugins/datatable/datatables.min.js"></script>

		<script src="/backend/plugins/dropify/js/dropify.min.js"></script>
		<script src="/backend/plugins/sweet-alert2/sweetalert2.min.js"></script>
		<script src="/backend/plugins/select2/select2.min.js"></script>
		<script src="/backend/plugins/daterangepicker/daterangepicker.js"></script>
		<script src="/backend/plugins/tinymce/tinymce.min.js"></script>
		<script src="/backend/plugins/parsleyjs/parsley.min.js"></script>
		<script src="/backend/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>

        <!-- App js -->
        <script src="/backend/assets/js/scripts.jsv=1.2.js"></script>


		<script type="text/javascript">
		(function($) {

    		"use strict";

			//Show Success Message
			
			//Show Single Error Message
			
			
			
        })(jQuery);

	 </script>


	 <script src="/backend/assets/js/datatables/payment-request.js"></script>
